<div class="row mt-3 mb-5">
    <div class="col-12">
        <h3>
            About
        </h3>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h4 class="font-weight-bold">What is this website?</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            This website is my final project for my CSC 4370 Web Development class. 
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <h4 class="font-weight-bold">How was this website made?</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            This website uses Angular and Bootstrap on the front-end. The server is written in Nodejs and uses a framework called ExpressJs. The database for this web application is MySQL.
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <h4 class="font-weight-bold">How does it work?</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            I utilized a library for the front-end and the back-end called Socket.io. This library allows real-time updates to be sent from the client to the server and vice-versa, without the need to reload. This allows the chat and the player's moves to appear on all clients in real-time.
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <h4 class="font-weight-bold">How do I play?</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            First create a room from the top of the page. Once in a room, copy the link and share with someone else. Have them paste the link into their browser and play tic-tac-toe.
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <h4 class="font-weight-bold">Where can I view the source code?</h4>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex flex-column">
        <span>The code for the front-end can be found <a href="https://github.com/facundof13/FinalProjectUI" target="_blank">here.</a></span>
        <span>The code for the back-end can be found <a href="https://github.com/facundof13/FinalProjectAPI" target="_blank">here.</a></span>
    </div>
</div>