<div class="row mt-3 mb-5">
    <div class="col-12">
        <h3>
            {{roomDetails?.name}}
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-s-12">
        <app-game [roomId]="roomId" [isTurn]="isCurrentTurn" (socketEmitter)="socketEmitter($event)"
            [socketId]="socketId" [boardObj]="boardObj" [isLoading]="isLoading"></app-game>
    </div>
    <div class="col-md-8 col-s-12 border">
        <app-chat [roomId]="roomId" [messages]="messages" (messageSent)="messageSent($event)" [typingIds]="typingIds"
        [chosenName]="chosenName">
        </app-chat>
    </div>
</div>