<div class="container d-flex flex-column align-items-center">
    <div class="row" *ngIf="winName">
        <div class="col-12">
            <h3><span *ngIf="socketId === winData">🎉&nbsp;</span>{{winName.name}} has won!<span
                    *ngIf="socketId === winData">&nbsp;🎉</span></h3>
        </div>
    </div>
    <div class="row" *ngIf="winData === 'tie'">
        <div class="col-12">
            <h3>There is a tie!</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button type="button" class="btn btn-secondary" (click)="dialog.close()">Close</button>
        </div>
    </div>
</div>