<nav class="navbar navbar-light bg-light px-5">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0);" [routerLink]="['/']">Home</a>
        <div class="d-flex flex-grow-1 justify-content-end">
            <a class="navbar-brand" href="javascript:void(0);" (click)="createRoom()">Create a room</a>
            <a class="navbar-brand" href="javascript:void(0);" [routerLink]="['/about']">About</a>
        </div>
    </div>
</nav>
<div class="container h-100">
    <router-outlet></router-outlet>
</div>